<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="display: flex; justify-content: center; align-items: center;">
  <div style="height: 25em; width: 20em; border: 1px solid red; padding: 5px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <p>SIGN IN</p>
    <form action="" style="width: 90%;">
      <input type="text" style="width: 100%; height: 5em; margin-bottom: 10px;" required placeholder="Name">
      <input type="password" style="width: 100%; height: 5em; margin-bottom: 10px;" required placeholder="password">
      <button>SIGN IN</button>
    </form>
</body>
</html>